/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: belite; src: url("fonts/pfbeausanspro-light-webfont.eot"); src: url("fonts/pfbeausanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pfbeausanspro-light-webfont.woff") format("woff"), url("fonts/pfbeausanspro-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: bebold; src: url("fonts/pfbeausanspro-sebold-webfont.eot"); src: url("fonts/pfbeausanspro-sebold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pfbeausanspro-sebold-webfont.woff") format("woff"), url("fonts/pfbeausanspro-sebold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: bereg; src: url("fonts/pfbeausanspro-reg-webfont.eot"); src: url("fonts/pfbeausanspro-reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pfbeausanspro-reg-webfont.woff") format("woff"), url("fonts/pfbeausanspro-reg-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: Arial, sans-serif; font-family: bereg, sans-serif; font-size: 12px; line-height: 1.4; }

.nav { position: absolute; top: 0; bottom: 0; height: 1px; left: 50%; margin-left: -480px; width: 1px; height: 100%; z-index: 100; font-family: bebold, sans-serif; }
.nav .nav__ul { position: absolute; top: 50%; margin-top: -130px; list-style: none; }
.nav a { text-decoration: none; }
.nav a:hover i { opacity: 1; }
.nav a:hover span { left: 34px; opacity: 1; }
.nav li { margin-bottom: 22px; position: relative; }
.nav li.is-active i { background: black; opacity: 1; }
.nav li.is-active span { color: #363636; }
.nav i { display: block; width: 12px; height: 12px; border: 3px solid black; opacity: 0.22; border-radius: 20px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.nav span { font-size: 14px; position: absolute; height: 18px; line-height: 18px; left: 24px; top: 0; color: white; opacity: 0; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.nav.is-home a span { left: 34px; opacity: 1; }
.nav.nav_contrast i { border-color: white; }
.nav.nav_contrast span { color: black; }
.nav.nav_contrast li.is-active i { background: white; opacity: 1; }
.nav.nav_contrast li.is-active span { color: #eeeeee; }

.in { width: 960px; margin: 0 auto; position: relative; }

.in { height: 100%; }

.section { background: url(../img/bg1.jpg) no-repeat 0 0; -moz-background-size: cover 100%; -webkit-background-size: cover 100%; background-size: cover 100%; overflow: hidden; position: relative; }

.gobottom { position: absolute; bottom: 50px; left: 50%; width: 300px; text-align: center; margin-left: -150px; cursor: pointer; }
.gobottom .gobottom__icon { background: url('../img/icons-sa47ce565fa.png') 0 -559px no-repeat; width: 28px; height: 66px; display: inline-block; }
.gobottom span { display: block; margin-top: 19px; text-align: center; font-family: bereg, sans-serif; font-size: 14px; color: #b4d611; }

.home { background: url(../img/bg1.jpg) no-repeat 50% 50%; height: 1042px; }
.home .home__green, .home .home__blue { position: absolute; z-index: 6; height: 550px; background: url(../img/green.png) no-repeat 50% 50%; width: 100%; top: 50%; margin-top: -260px; left: 0; opacity: 0; -webkit-transition: all 1s linear; -moz-transition: all 1s linear; -o-transition: all 1s linear; transition: all 1s linear; -webkit-transition-delay: 0.4s; -moz-transition-delay: 0.4s; -o-transition-delay: 0.4s; transition-delay: 0.4s; }
.home.a .home__green, .home.a .home__blue { opacity: 1; }
.home .home__blue { z-index: 3; background: url(../img/blue.png) no-repeat 50% 50%; }
.home .home__window { position: absolute; left: 50%; margin-left: -303px; top: 194px; z-index: 220; }
.home .home__shadow { position: absolute; top: 50%; left: 50%; width: 1000px; height: 760px; margin-top: -380px; margin-left: -500px; background: url("../img/homeshadow.png"); z-index: 8; }
.home .home__window, .home .home__shadow { opacity: 0; -webkit-transition: all 0.9s linear; -moz-transition: all 0.9s linear; -o-transition: all 0.9s linear; transition: all 0.9s linear; -webkit-transition-delay: 1s; -moz-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); }
.home.a .home__window, .home.a .home__shadow { opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
.home .home__logo { position: absolute; top: 100px; left: 49px; background: url('../img/icons-sa47ce565fa.png') 0 -331px no-repeat; width: 245px; height: 68px; font: 0/0 a; text-shadow: none; color: transparent; z-index: 1000; cursor: pointer; }
.home .home__top { position: absolute; top: 72px; right: 0; background: url('../img/icons-sa47ce565fa.png') 0 -1350px no-repeat; width: 328px; height: 129px; font-family: bereg, sans-serif; z-index: 120; }
.home .home__top .home__toptext { font-size: 25px; color: #565555; text-align: right; white-space: nowrap; padding-right: 52px; padding-top: 33px; line-height: 32px; }
.home .home__top .home__topsubtext { font-size: 16px; color: #a3c32f; position: absolute; bottom: -0.5em; right: 22px; width: 180px; text-align: center; }

.descr { background: url(../img/bg2.jpg) no-repeat 50% 50%; height: 1000px; }
.descr .descr__top { margin-top: 100px; background: url('../img/icons-sa47ce565fa.png') 0 -1020px no-repeat; width: 317px; height: 195px; position: relative; white-space: nowrap; color: #e8e7e7; font-family: bereg, sans-serif; font-size: 24px; text-align: right; line-height: 1; }
.descr .descr__top h2 { font-size: 48px; font-weight: normal; margin-bottom: 20px; }
.descr .descr__top .descr__topwrap { position: absolute; top: 55px; right: 42px; }
.descr .descr__top { margin-top: 100px; float: right; position: relative; z-index: 11; }
.descr .descr__edin { clear: both; float: right; width: 373px; padding-top: 83px; font-size: 14px; color: white; line-height: 22px; text-align: right; }
.descr .descr__edin strong { display: block; font-weight: normal; color: #b4d42e; font-size: 24px; margin-bottom: 5px; }
.descr .descr__edin p { margin-bottom: 22px; }
.descr .descr__edin p a { color: #b4d42e; text-decoration: none; }
.descr .descr__about { float: left; clear: both; margin-left: 92px; padding-top: 81px; font-family: bereg, sans-serif; }
.descr .descr__about h3 { font-size: 24px; font-weight: normal; color: white; margin-bottom: 29px; }
.descr .descr__about h3 a { color: #b4d42e; text-decoration: none; display: inline-block; position: relative; }
.descr .descr__about h3 a:before { position: absolute; bottom: -4px; content: " "; left: 0; width: 100%; border-bottom: 3px solid #b4d42e; }
.descr .descr__about ul { list-style: none; color: #d1cdcd; font-size: 16px; }
.descr .descr__about ul li { margin-bottom: 18px; position: relative; padding-left: 32px; }
.descr .descr__about ul li:before { content: " "; background: url('../img/icons-sa47ce565fa.png') 0 -1271px no-repeat; width: 20px; height: 20px; position: absolute; left: 0; top: -1px; }
.descr .descr__about ul em { color: #b4d42e; font-style: normal; font-family: bebold, sans-serif; }
.descr .descr__about ul strong { font-weight: normal; color: white; font-family: bebold, sans-serif; }
.descr .video { position: absolute; left: 92px; top: 160px; z-index: 10; width: 427px; height: 427px; background: black; border-radius: 427px; cursor: pointer; }
.descr .video:hover .video__overlay { opacity: 0; }
.descr .video .video__pic { width: 427px; height: 427px; background: black url(../img/video.jpg) no-repeat 50% 50%; border-radius: 427px; position: relative; }
.descr .video .video__overlay { position: absolute; left: 0; top: 0; width: 427px; height: 427px; background: black; border-radius: 427px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; opacity: 0.5; }
.descr .video .video__play { background: url('../img/icons-sa47ce565fa.png') 0 -208px no-repeat; width: 113px; height: 113px; position: absolute; left: 155px; top: 155px; z-index: 20; }
.descr .video .video__play span { font-size: 14px; color: #b4d42e; width: 100px; left: 50%; top: 130px; margin-left: -50px; position: absolute; text-align: center; }

.tth { height: 1015px; background: #fafafa url(../img/bg3.jpg) no-repeat 0% -40%; -moz-background-size: none 100%; -webkit-background-size: none 100%; background-size: none 100%; }
.tth .tth__right { position: absolute; top: 0; height: 100%; background: url(../img/tthr.jpg) no-repeat 0 0; width: 541px; height: 1015px; right: -480px; }
.tth .tth__left { position: absolute; top: 0; width: 415px; height: 1015px; left: -480px; background: url(../img/tthl.jpg) no-repeat 0 0; box-shadow: 30px 0 30px 0px rgba(0, 0, 0, 0.2); }
.tth .tth__head { position: absolute; top: 100px; left: 49px; background: url('../img/icons-sa47ce565fa.png') 0 -1489px no-repeat; width: 282px; height: 149px; font-size: 31px; color: #3a3a3a; text-transform: uppercase; line-height: 1; }
.tth .tth__head .tth__headwrap { padding: 40px 0 0 43px; white-space: nowrap; }
.tth .tth__head span { display: block; text-transform: none; font-size: 38px; color: #3a3a3a; }
.tth .tth__head span em { font-style: normal; color: #b4d42e; }
.tth .tth__info { width: 345px; text-align: center; top: 350px; left: 92px; position: absolute; }
.tth .tth__info .tth__pic { width: 345px; height: 345px; border-radius: 345px; margin-bottom: 27px; background: url("../img/tthpic.png") no-repeat 0 0; display: block; }
.tth .tth__info h3 { font-size: 24px; font-weight: normal; color: #3a3a3a; margin-bottom: 30px; }
.tth .tth__info p { font-size: 14px; color: #3a3a3a; }
.tth .tth__list { top: 182px; left: 480px; position: absolute; width: 370px; list-style: none; }
.tth .tth__list li { margin-bottom: 45px; }
.tth .tth__list .tth__icon { width: 80px; text-align: center; vertical-align: middle; display: inline-block; }
.tth .tth__list .tth__icon i { display: inline-block; }
.tth .tth__list .tth__i1 i { background: url('../img/icons-sa47ce565fa.png') 0 -1648px no-repeat; width: 41px; height: 45px; }
.tth .tth__list .tth__i2 i { background: url('../img/icons-sa47ce565fa.png') 0 -1301px no-repeat; width: 41px; height: 39px; }
.tth .tth__list .tth__i3 i { background: url('../img/icons-sa47ce565fa.png') 0 -409px no-repeat; width: 46px; height: 50px; }
.tth .tth__list .tth__i4 i { background: url('../img/icons-sa47ce565fa.png') 0 -873px no-repeat; width: 39px; height: 39px; }
.tth .tth__list .tth__i5 i { background: url('../img/icons-sa47ce565fa.png') 0 -922px no-repeat; width: 29px; height: 38px; }
.tth .tth__list .tth__i6 i { background: url('../img/icons-sa47ce565fa.png') 0 -970px no-repeat; width: 38px; height: 40px; }
.tth .tth__list .tth__i7 i { background: url('../img/icons-sa47ce565fa.png') 0 -516px no-repeat; width: 40px; height: 33px; }
.tth .tth__list .tth__i8 i { background: url('../img/icons-sa47ce565fa.png') 0 -469px no-repeat; width: 37px; height: 37px; }
.tth .tth__list .tth__text { width: 290px; vertical-align: middle; display: inline-block; font-family: belite, sans-serif; font-size: 16px; color: #6c6c6c; }
.tth .tth__list .tth__text strong { font-weight: normal; font-family: bebold, sans-serif; color: #393939; }
.tth .tth__list .tth__text span { color: #acabab; }

.special { height: 1240px; background: #fafafa url(../img/bg4.jpg) no-repeat 50% 50%; background-size: cover; }

.special__head { position: absolute; top: 94px; left: 49px; background: url('../img/icons-sa47ce565fa.png') 0 -1703px no-repeat; width: 258px; height: 139px; font-size: 30px; color: #f6f6f6; white-space: nowrap; line-height: 1.35; z-index: 21; }
.special__head .special__headwrap { padding: 36px 0 0 40px; }
.special__head span { display: block; font-size: 30px; color: #d6fcab; text-transform: uppercase; }

.special__table { position: absolute; right: 0; top: 205px; width: 838px; z-index: 20; }
.special__table table thead th { text-align: left; font-weight: normal; font-size: 18px; color: #f6f6f6; text-transform: uppercase; }
.special__table table thead th div { padding: 22px; border: 4px solid rgba(255, 255, 255, 0.3); }
.special__table table thead th span { display: block; color: #d6fcac; }
.special__table table thead th.is-selected div { border-color: white; background: #5e9a3a; }
.special__table table thead th.firsth { padding-right: 10px; }
.special__table table tbody th { padding: 23px; text-align: left; font-weight: normal; font-size: 16px; text-transform: uppercase; padding-right: 0; color: #f6f6f6; }
.special__table table tbody th.is-selected { background: #5f9b3b; }
.special__table table tbody th p { font-size: 14px; color: #d6fcac; line-height: 1.3; margin-top: 15px; text-transform: none; }
.special__table table tbody td { width: 250; padding: 26px; }
.special__table table tbody td.is-selected { background: #5f9b3b; }
.special__table table tbody .is-lite td, .special__table table tbody .is-lite th { background: #e6f2d8; color: #353535; }
.special__table table tbody .is-lite td.is-selected, .special__table table tbody .is-lite th.is-selected { background: #e1edda; }
.special__table table tbody .kamer { vertical-align: middle; font-size: 18px; color: white; padding-right: 0; }
.special__table table tbody .kamer em { font-style: normal; color: #d6fcac; }
.special__table table tbody .har { font-size: 14px; color: #f6f6f6; }
.special__table table tbody .width { color: #353535; font-size: 14px; }
.special__table table tbody .width h3 { font-weight: normal; font-size: 14px; color: #81847f; margin-bottom: 23px; }
.special__table table tbody .width h3 strong { font-weight: normal; display: block; font-size: 30px; color: #509a3d; }
.special__table table tbody .koeff { font-size: 18px; color: #353535; vertical-align: middle; }
.special__table table tbody .koeff span { color: #509a3d; }
.special__table table tbody .shir { font-size: 14px; color: #d6fcac; }
.special__table table tbody .shir strong { display: block; font-size: 30px; color: white; }
.special__table table tbody .order { background: transparent !important; padding: 0; padding-top: 17px; padding-right: 10px; }
.special__table table tbody .order + .order { padding-right: 0; }
.special__table table tbody .order a { font-family: bebold, sans-serif; font-size: 16px; text-transform: uppercase; color: white; display: block; border: 3px solid rgba(255, 255, 255, 0.4); text-align: center; height: 45px; line-height: 45px; text-decoration: none; }
.special__table table tbody .order a i { display: inline-block; margin-left: 19px; background: url('../img/icons-sa47ce565fa.png') 0 -1938px no-repeat; width: 7px; height: 12px; }
.special__table table tbody .order a:hover { background: #353535; color: #f3f3f3; border-color: #353535; }
.special__table table tbody .order.is-selected a { background: #353535; color: #f3f3f3; border-color: #353535; }

.vam { display: inline-block; max-width: 180px; vertical-align: middle; }

.help { display: inline-block; width: 20px; height: 20px; line-height: 22px; border: 2px solid white; font-size: 16px; color: white; text-decoration: none; border-radius: 22px; text-align: center; vertical-align: middle; border-color: rgba(255, 255, 255, 0.3); position: relative; margin-left: 15px; }
.is-lite .help { border-color: rgba(0, 0, 0, 0.3); color: black; color: #353535; }
.is-lite .help:hover { background: black; color: #d6fcac; border-color: black; }
.help .help__popup { display: none; position: absolute; left: 45px; top: -23px; background: white; padding: 28px; line-height: 1.5; width: 300px; font-size: 14px; color: black; z-index: 200; text-align: left; color: #525050; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
.help .help__popup:before { position: absolute; top: 23px; left: -12px; background: url('../img/icons-sa47ce565fa.png') 0 -1990px no-repeat; width: 12px; height: 25px; content: " "; }
.help:hover, .help.is-open { background: white; border-color: white; color: black; }
.help:hover .help__popup, .help.is-open .help__popup { display: block; }

.design { height: 1016px; background: url(../img/bg5.jpg) no-repeat 50% 50%; background-size: cover; font-family: bereg, sans-serif; }
.design .in { position: relative; }
.design .in .site-in { position: absolute; top: 0; right: 0; }
.design .design__head { position: absolute; top: 84px; right: 0; height: 148px; width: 295px; }
.design .design__head .design__headwrap { position: relative; padding: 45px 40px 0 0; font-size: 32px; line-height: 1.1; text-transform: uppercase; }
.design .design__head .design__headwrap span { text-transform: none; font-size: 33px; }
.design .design__head .design__headwrap em { color: #b3d60d; font-style: normal; display: inline-block; }
.design .design__head .design__headwrap em:first-letter { text-transform: uppercase; }
.design .design__head .design__headwrap i { position: absolute; top: 0; right: 0; display: inline-block; background: url('../img/icons-sa47ce565fa.png') 0 -2085px no-repeat; width: 282px; height: 149px; }
.design .tab { position: absolute; top: 118px; left: 0; font-size: 0; overflow: hidden; }
.design .tab .tab__item { position: relative; display: inline-block; cursor: pointer; }
.design .tab .tab__item:hover span { color: #b3d60d; border-color: #b3d60d; }
.design .tab .tab__item.is-active .tab__link { position: relative; color: #3a3a3a; }
.design .tab .tab__item.is-active .tab__link:before { position: absolute; content: ""; top: 0; left: 0; right: 0; bottom: 0; border: 2px solid #b3d60d; }
.design .tab .tab__item.is-active span { border: none; }
.design .tab .tab__link { padding: 26px 28px; color: #cccccc; font-size: 24px; line-height: 1; text-decoration: none; display: block; }
.design .tab .tab__link span { line-height: 1; border-bottom: 1px dotted #cccccc; display: inline-block; }
.design .tab-cont { position: absolute; top: 255px; left: 0; right: 0; bottom: 0; font-size: 14px; color: #3e3e3e; }
.design .tab-cont strong { color: #b3d60d; }
.design .tab-cont .design__text-top, .design .tab-cont .design__text-bottom { position: absolute; width: 400px; }
.design .tab-cont.tab-cont_1 { background: url(../img/bg-tab-1.png) no-repeat 0 0; }
.design .tab-cont.tab-cont_1 .design__circle { position: absolute; right: 175px; bottom: 50px; padding: 46px 24px; height: 330px; width: 330px; text-align: center; background: #b3d60d; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.design .tab-cont.tab-cont_1 .design__icon { display: inline-block; background: url('../img/icons-sa47ce565fa.png') 0 -1881px no-repeat; width: 57px; height: 47px; }
.design .tab-cont.tab-cont_1 h3 { padding: 23px 0 26px; line-height: 1; font-size: 24px; font-weight: normal; color: white; }
.design .tab-cont.tab-cont_2 { background: url(../img/tab-bg-2.png) no-repeat 45px 0; }
.design .tab-cont.tab-cont_2 .design__text-top { left: 553px; }
.design .tab-cont.tab-cont_2 .design__text-top.design__text-top_1 { top: 42px; }
.design .tab-cont.tab-cont_2 .design__text-top.design__text-top_2 { top: 114px; }
.design .tab-cont.tab-cont_2 .design__text-top.design__text-top_3 { top: 191px; }
.design .tab-cont.tab-cont_2 .design__text-bottom { left: 99px; }
.design .tab-cont.tab-cont_2 .design__text-bottom.design__text-bottom_1 { top: 471px; }
.design .tab-cont.tab-cont_2 .design__text-bottom.design__text-bottom_2 { top: 545px; }
.design .tab-cont.tab-cont_3 { background: url(../img/tab-bg-3.png) no-repeat 155px 0; }
.design .tab-cont.tab-cont_3 .design__text-top, .design .tab-cont.tab-cont_3 .design__text-bottom { width: 362px; }
.design .tab-cont.tab-cont_3 .design__text-top.design__text-top_1, .design .tab-cont.tab-cont_3 .design__text-bottom.design__text-top_1 { top: 80px; left: 555px; }
.design .tab-cont.tab-cont_3 .design__text-top.design__text-top_2, .design .tab-cont.tab-cont_3 .design__text-bottom.design__text-top_2 { top: 195px; left: 584px; }
.design .tab-cont.tab-cont_3 .design__text-top.design__text-top_3, .design .tab-cont.tab-cont_3 .design__text-bottom.design__text-top_3 { top: 332px; left: 542px; }
.design .tab-cont.tab-cont_3 .design__block { position: absolute; top: 460px; left: 560px; bottom: 0; width: 355px; }
.design .tab-cont.tab-cont_3 .design__block h3 { padding: 18px 0; font-size: 17px; font-family: bebold, sans-serif; }
.design .tab-cont.tab-cont_3 .design__block .design__pic { display: inline-block; background: url('../img/icons-sa47ce565fa.png') 0 -2025px no-repeat; width: 205px; height: 50px; }
.design .site-in { padding: 24px 19px 17px 91px; color: #b3d60d; line-height: 1; font-size: 15px; text-decoration: none; background: #3a3a3b; display: inline-block; }
.design .site-in .site-in__pic { position: absolute; left: 17px; top: 50%; margin-top: -18px; background: url('../img/icons-sa47ce565fa.png') 0 -1225px no-repeat; width: 56px; height: 36px; }

.furn { height: 1016px; background: url(../img/bg6.jpg) no-repeat 50% 50%; background-size: cover; }

.footer { height: 1244px; background: url(../img/bg7.jpg) no-repeat 50% 50%; background-size: cover; }
.footer .footer__head { position: absolute; top: 111px; left: 49px; background: url('../img/icons-sa47ce565fa.png') 0 -635px no-repeat; width: 387px; height: 228px; font-size: 48px; color: white; }
.footer .footer__head .footer__headwrap { padding: 52px 0 0 63px; white-space: nowrap; }
.footer .footer__head span { display: block; font-size: 24px; color: #e8e7e7; }
.footer .footer__center { top: 416px; width: 870px; left: 92px; text-align: center; position: absolute; }
.footer .gallery { margin-bottom: 31px; }
.footer .footer__ask { font-size: 18px; color: #f6f6f6; text-align: center; }
.footer .footer__goask { display: inline-block; font-size: 21px; font-family: bebold, sans-serif; text-decoration: none; color: white; text-transform: uppercase; color: white; border: 3px solid rgba(255, 255, 255, 0.4); text-align: center; height: 60px; line-height: 60px; text-decoration: none; padding: 0 28px; margin-top: 37px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.footer .footer__goask i { display: inline-block; margin-left: 19px; background: url('../img/icons-sa47ce565fa.png') 0 -1852px no-repeat; width: 11px; height: 19px; position: relative; top: 2px; }
.footer .footer__goask:hover { border-color: #353535; background: #353535; }
.footer .footer__stamp { position: absolute; background: url('../img/icons-sa47ce565fa.png') 0 0 no-repeat; width: 198px; height: 198px; top: 124px; right: -90px; z-index: 1; }
.footer .footer__about { position: absolute; z-index: 2; top: 158px; right: 0; text-align: right; width: 400px; font-size: 20px; line-height: 1.5; color: white; }
.footer .footer__about strong { font-weight: normal; font-family: bebold, sans-serif; color: #b4d42e; }
