.footer
	height: 1244px 
	background:  url(../img/bg7.jpg) no-repeat 50% 50%
	background-size: cover
	.footer__head
		position: absolute
		top: 111px 
		left: 49px 
		+s(border7)
		font-size: 48px 
		color: #FFFFFF
		.footer__headwrap
			padding: 52px 0 0 63px
			white-space: nowrap
		span
			display: block
			font-size: 24px 
			color: #E8E7E7 
	.footer__center
		top: 416px 
		width: 870px 
		left: 92px 
		text-align: center
		position: absolute
	.gallery
		margin-bottom: 31px 
	.footer__ask
		font-size: 18px 
		color: #F6F6F6
		text-align: center 
	.footer__goask
		display: inline-block
		font-size: 21px 
		+bold
		text-decoration: none
		color: #fff
		text-transform: uppercase 
		color: #fff
		border: 3px solid rgba(#fff, .4)  
		text-align: center
		height: 60px 
		line-height: 60px 
		text-decoration: none
		padding: 0 28px
		margin-top: 37px  
		+transition(background .5s ease-in-out,border .5s ease-in-out,opacity .5s linear 1.5s)
		opacity: 0 
		i
			display: inline-block
			margin-left: 19px 
			+s(arrb)
			position: relative
			top: 2px 
		&:hover
			border-color: #353535 
			background: #353535 
	.footer__stamp
		position: absolute
		+s(footerstamp)
		top: 124px 
		right: -90px 
		z-index: 1 
	.footer__about
		position: absolute
		z-index: 2 
		top: 158px 
		right: 0
		text-align: right
		width: 400px  
		font-size: 20px 
		line-height: 1.5 
		color: #FFFFFF
		strong
			font-weight: normal
			+bold
			color: #B4D42E
	.footer__about,.gallery,.footer__ask
		opacity: 0
		+transition(all .5s linear .3s) 
	.gallery
		+transition-delay(0.8s)
	.footer__ask
		+transition-delay(1.2s)
	.footer__goask
		//+transition-delay(1.5s)
	&.a
		.gallery
			opacity: 1 
		.footer__ask
			opacity: 1 
		.footer__goask
			opacity: 1
		.footer__about
			opacity: 1 
.gallery
	width: 870px 
	height: 576px 
	position: relative
	.gallery__big
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		overflow: hidden
		border: 14px solid #B4D42E
		z-index: 200
		display: none 
		.gallery__close
			+s(close)
			position: absolute
			top: 20px 
			right: 20px 
			cursor: pointer
		img
			display: block
			width: 100% 
	.gallery__item
		float: left
		position: relative
		&:hover
			div
				opacity: 1 
		div
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			border: 14px solid #B4D42E
			background: rgba(#fff, .5)      
			opacity: 0
			+transition(all .4s linear) 
			i
				position: absolute
				top: 50%
				left: 50%
				+s(zoom)  
				margin-top: -30px 
				margin-left: -30px 
		img
			display: block
.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 1000
	background: rgba(#000, .8)      
.popup
	position: fixed
	top: 50%
	left: 50%
	background: #fff
	border: 16px solid #B4D42E    
	width: 640px 
	margin-left: -320px 
	margin-top: -200px 
	z-index: 2000 
	.popup__content
		padding: 30px 45px 
	h2
		font-size: 32px 
		font-weight: normal
		padding-bottom: 25px 
		text-align: center
		border-bottom: 1px solid #E8E8E8 
		margin: 0 
	.popup__text
		margin: 30px 0
		text-align: center
		font-size: 14px  
		color: #696969 
	.popup__close
		position: absolute
		top: -76px 
		right: -16px
		cursor: pointer
		+s(close1) 
	.popup__fields
		+clr
		margin-bottom: 30px 
		input
			border: 4px solid #DBDBDB  
			color: #DBDBDB 
			+placeholder-color(#DBDBDB)
			padding: 12px 
			width: 220px 
			float: left
			margin-right: 19px 
			font-size: 16px 
			&:focus
				border-color: #000
				color: #000  
				+placeholder-color(#000)
	.popup__submit
		text-align: center
		a
			+bold
			font-size: 16px 
			text-transform: uppercase
			color: #fff
			display: inline-block
			padding: 0 30px 
			border: 3px solid rgba(#fff, .4)  
			text-align: center
			height: 45px 
			line-height: 45px 
			text-decoration: none
			+transition(all .2s linear)
			background: #353535 
			color: #F3F3F3 
			border-color: #353535 
			i
				display: inline-block
				margin-left: 19px 
				+s(arr)
				