.special
	height: 1015px 
	background: #FAFAFA url(../img/bg4.jpg) no-repeat 50% 50%
	background-size: cover


.special__head
	position: absolute
	top: 94px 
	left: 49px 
	+s(border4)
	font-size: 30px 
	color: #F6F6F6
	white-space: nowrap
	line-height: 1.35 
	z-index: 21
	.special__headwrap
		padding: 36px 0 0 40px
	span
		display: block
		font-size: 30px 
		color: #D6FCAB 
		text-transform: uppercase
.special__table
	position: absolute
	right: 0
	top: 205px  
	width: 838px
	z-index: 20  